body{
    background-color: #D1D1D2;
}
.row{
    background-color: #FFFFFF;
}
#logo{
    animation: run 2s;
    max-width: 15%;
    padding-top: 10px;
    padding-bottom: 5px;
}
@keyframes run {
    0% { margin-left: -2000px; }
    100% { margin-left: 0px; }
}
#titel{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    background-color: #D1D1D2;
    padding-top: 60px;
}
nav{
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-bottom: none;
    border-color: #FFD100;
}
nav > ul > li{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    border-color: #DEE2E6;
}
.tab-content{
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-color: #FFD100;
}
#werkervaring{
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    30% { opacity: 0; }
    100% { opacity: 1; }
}
.table{
    width: 100%;
    margin: 5px;
}
.table tr:nth-child(1){
    border-top-width: 3px;
}
.table td:nth-child(1){
    border-top-width: 1px;
    border-right-width: 3px;
    border-style: solid;
}
.table td:nth-child(2){
    border-top-width: 1px;
}
.table tr:last-child{
    border-bottom: hidden;
}
.organisatie{
    width: 32px;
    padding-left: 5px;
}
#content{
    position: relative;
}
#profiel{
    margin-bottom: 10px;
    border-width: 5px;
    border-radius: 50%;
    border-style: solid;
    border-color: #DEE2E6;
}