#logo{
    padding: 5px;
    max-height: 20%;
    max-width: 20%;
}
nav{
    padding: 5px;

}
nav > div{
    padding:5px;
}
nav > ul > li{
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    border-color: #DEE2E6;
}
header{
    background-color: #D1D1D2;
    padding: 10px;
}
h1{
    padding: 5px;
    display: inline;
    vertical-align: bottom;
}
#werkervaring{
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    30% { opacity: 0; }
    100% { opacity: 1; }
  }